body{
    background:#fff8f0 url(../images/backgroundimage.png) no-repeat 0 0;
    font:80% "comfortaa", cursive;
    color: #fff8f0;
    line-height:180%;
    margin:0;
    padding:0;
    text-align:center;
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .navbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .navbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

h1{
    font-size: 18pt;
    font-weight:normal;
    margin:0;
    padding-left:35px;
    padding-top:80px;
    color:#fff8f0;
    font-family:"Josefin Sans",sans-serif;
}

h2{
    font-size: 36pt;
    font-weight:normal;
    margin:0;
    padding-left:35px;
    padding-top:10px;
    padding-bottom:20px;
    color:#ffcf99;
    font-family:"Josefin Sans",sans-serif;
}


fc1{
    font-weight:normal;
    margin:1em 0;
    font-size:15pt;
    color:#ffcf99;
    padding-top:10px;
}

#containerfc{
    margin:0 auto;
    width:928px;
    text-align:left;
    background:#111d4a;
}

#header{
    height:100 px;
    background:url(../images/headerpicture.png) no-repeat 0 0;

}

#frontcontent{
    background:url(../images/fp1content.png) no-repeat 0 0;
    padding:.5em 34px;
    padding-top: 20px;
}

#frontfooter{
    padding:25px 60px;
    background: url(../images/footerbot.png) no-repeat 0 0;

}

pfc{
    margin:1em 0;
}